# macOS
.DS_Store

# sbt specific
dist/*
target/
lib_managed/
src_managed/
project/boot/
project/plugins/project/
project/local-plugins.sbt
.history
.ensime
.ensime_cache/
.sbt-scripted/
local.sbt

# Bloop
.bsp

# VS Code
.vscode/

# Metals
.bloop/
.metals/
metals.sbt

# IDEA
.idea
.idea_modules
/.worksheet/


test_run_dir/
.scalafmt.conf
verilog/
processor/db/
processor/greybox_tmp/
processor/incremental_db/
processor/output_files/
processor/simulation/   
processor/cr_ie_info.json
assembler/AssemblyCodes.txt
.gitignore
assembler/InstrInit.mif
processor/rv32i.qws
tool-chain/assembly.txt
tool-chain/g.hex
.gitignore
tool-chain/InstrInit.mif
tool-chain/K_1.elf
